html {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header,
.hero {
    background-color: #405d3d;
    padding: 8px 96px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.header-link {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header-link:hover {
    font-weight: 600;
}

.hero {
    flex-wrap: wrap;
    gap: 16px;
}

.hero-content {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.hero-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-description {
    color: #e5e7eb;
    font-size: 18px;
}

.action-btn,
.cta-btn {
    width: 100px;
    padding: 4px 8px;
    background-color: #34842c;
    color: #f9faf8;
    cursor: pointer;
    border-radius: 4px;
}

.action-btn {
    border: none;
}

.action-btn:hover {
    background-color: #32772b;
}

.action-btn:active {
    background-color: #34842c;
}

.hero-img {
    width: 320px;
}

.info-heading {
    margin: 32px 0;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1f2937;
}

.info-images {
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px;
}

.info-image {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.info-img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.info-description {
    text-align: center;
}

.testimonial {
    background-color: #e5e7eb;
    padding: 48px 128px;
}

.testimonial-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.testimonial-author {
    font-size: 18px;
    font-weight: 600;
    text-align: right;
}

.cta {
    padding: 48px 96px;
    flex: 1;
}

.cta-container {
    background-color: #34842c;
    padding: 16px 64px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-heading {
    font-size: 16px;
    color: #f9faf8;
}

.cta-text {
    font-size: 13px;
    color: #e5e7eb;
}

.cta-btn {
    border: 2px solid #f9faf8;
    border-radius: 4px;
}

.cta-btn:hover {
    background-color: #32772b;
}

.cta-btn:active {
    background-color: #34842c;
}

.footer {
    background-color: #405d3d;
    padding: 16px 0;
}

.footer-text {
    text-align: center;
    color: #f9faf8;
}

.footer-text a {
    color: #f9faf8;
    font-weight: 600;
    text-decoration: none;
}

.footer-text a:hover {
    color: #1f2937;
}